/* Hero */
.hero {
  background-color: var(--ternary-bg);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero_bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

.hero > .container {
  padding: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
}

/* Sections */
.section__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

/* Features */

.section.development {
  padding-top: 0;
}

.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.features.list {
  display: flex;
}

/* Icons background */
.features__item::before {
  display: block;
  content: '';
  min-width: 270px;
  height: 120px;
  background-color: var(--secondary-bg);

  border-radius: 4px;
  margin-bottom: 30px;
}

/* Icons */
.features__item:nth-child(1)::before {
  content: '';
  background-image: url(../images/icons/antenna.svg);
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.features__item:nth-child(2)::before {
  content: '';
  background-image: url(../images/icons/clock.svg);
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.features__item:nth-child(3)::before {
  content: '';
  background-image: url(../images/icons/diagram.svg);
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.features__item:nth-child(4)::before {
  content: '';
  background-image: url(../images/icons/astronaut.svg);
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.features__item + .features__item {
  margin-left: 30px;
}

.features p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Development */
.dev.list {
  display: flex;
}

.dev__item + .dev__item {
  margin-left: 30px;
}

/* Team */
.section.team {
  background-color: var(--secondary-bg);
}

.team.list {
  display: flex;
}

.team__item {
  background-color: var(--primary-bg-color);
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.14;
  text-align: center;
}

.team__item + .team__item {
  margin-left: 30px;
}

.team__title {
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__item p {
  margin-top: 10px;
  margin-bottom: 0;
}
